{% extends 'base.html' %}

     {% block content %}

       <h1>你好呀, {{ current_user.username }} !</h1>

        <style>
  	body{
		text-align:center;
	}
	input{
		height:30px;
		width:500px;
		border:1px solid rgba(5,39,175,0.5);
	}
	#wen{
		height:34px;
		width:80px;
		background:rgba(5,39,175,0.5);
		border:rgba(5,39,175,0.5);
		font-size:18px;
		color:red;
		font-weight:4px;
		position:relative;
		top:2px;
	}
	#win{
            width:580px;
            height:420px;
            border:1px solid #666;
            background:#fff;
            margin:10px auto 0;
            overflow:auto;/* 增加滚动条 */
	}
	p{
		background:pink;
		height:30px;
		width:250px;
		border:1px solid rgba(5,39,175,0.5);
		font-size:15px;
		color:black;
		font-weight:3px;
	}
	#me{
		position:relative;
		right:30px;
		border-radius:15px;
		display:none;
	}
	#cp{
		position:relative;
		left:30px;
		border-radius:15px;
		display:none;
	}
	.btalk{
        margin:10px;
		text-align:left;
    }
    .btalk span{
        display:inline-block;
        background:#0181cc;
        border-radius:10px;
        color:#fff;
        padding:5px 10px;
    }
    .atalk{
        margin:10px;
        text-align:right;
    }
	.atalk span{
        display:inline-block;
        background:#ef8201;
        border-radius:10px;
        color:#fff;
        padding:5px 10px;
    }
	#menu{
		width:100px;
		position:absolute;
		display:none;
	}
	#menu1{
		width:100px;
		position:absolute;
		display:none;
	}
	.movemenu{
		width:100px;
		height:40px;
		line-height:35px;
		border:2px solid pink;
		text-align:center;
		background:pink;
		font-family:宋体;
		font-size:15px;
		display:inline-block;
		position:relative;
	}
  </style>
 </head>
 <body onkeydown="keylogin();">
  <script>
  	var date="";
	function mf() {
	var win = document.getElementById("win");
    var question = document.getElementById("question").value;
	var atalk = document.getElementsByClassName("atalk");
	var btalk = document.getElementsByClassName("btalk");
	var backup = document.getElementById("backup");
	var recover = document.getElementById("recover");
	var empty = document.getElementById("empty");
    /*var txt = question.replace(/我/g,"me");
	var txt1 = txt.replace(/你/g,"我");
	var txt2 = txt1.replace(/吗/g,"");
	var txt3 = txt2.replace(/me/g,"你");
	var txt4 = txt3.replace(/不/g,"极了");
	var txt5 = txt4.replace(/？/g,"~");
	var txt6 = txt5.replace(/谁/g,"KayaK-Z");*/
	if(question == "帮助" || question == "help"){
		var txt6 = "本网站提供python与golang的一些爬虫接口、数据、工具以及一些进阶知识等，另外还要算法、数据结构之类的一些知识。输入关键词以获取相应内容（关键词在网页里寻找哦）";
	} else if (url_json.hasOwnProperty(question)){
		var txt6 = '已为你找到相应内容，点击<a href="' + url_json[question] + '">这里</a>跳转'
	} else {
		var txt6 = '暂未找到' + question + '相应内容，已将关键词提交至服务器，更新内容后会以邮件方式提醒您'
	}
	
	var str = "";
                if(question == ""){
	                 // 消息为空时弹窗
                    alert("提问不能为空");
                    return;
				}
                else{
                    str = "<div onclick=\"menus()\" class='atalk talk'><div style='font-size:7px;color:gray' align='center'>"+new Date().toLocaleTimeString()+"</div><span>我说 : " + question +"</span></div>";
                    setTimeout(function(){
						str ="<div onclick=\"menus()\" class='btalk talk'><div style='font-size:7px;color:gray' align='center'>"+new Date().toLocaleTimeString()+"</div><span>机器人说 : " + txt6 +"</span></div>";
						win.innerHTML = win.innerHTML + str;
						win.scrollTop=win.scrollHeight;//滚动条自动到达底部
					},1000);//1秒后机器人回复
					win.innerHTML = win.innerHTML + str;
					win.scrollTop=win.scrollHeight;
					backup.onclick=function(){date=win.innerHTML};
					recover.onclick=function(){
					win.innerHTML=date+win.innerHTML;
					win.scrollTop=win.scrollHeight;};
					empty.onclick=function(){win.innerHTML=""}
					document.getElementById("question").value = "";//清空对话框
				}
            };

	function keylogin(){
		if(event.keyCode==13)
		document.getElementById("wen").click();
	}
	function bottom(){
		var win = document.getElementById("win");
		win.scrollTop=win.scrollHeight;
	}
	function menus(){
		var menu = document.getElementById("menu");
		var menu1 = document.getElementById("menu1");
		var aDiv = document.getElementsByClassName("atalk");
		var bDiv = document.getElementsByClassName("btalk");
		var copy = document.getElementById("copy");
		var trans = document.getElementById("trans");
		var deletes = document.getElementById("deletes");
		var cancel = document.getElementById("cancel");
		for (var i = 0; i < aDiv.length; i++) {
        (function(i) {
			aDiv[i].onclick = function(){
				menu1.style.display='none';
				menu.style.display='block';
				//复制
				copy.onclick = function(){
					var text = aDiv[i];
					menu.style.display="none";
					if (document.body.createTextRange) {
						var range = document.body.createTextRange();
						range.moveToElementText(text);
						range.select();
					} 
					else if (window.getSelection) {
						var selection = window.getSelection();
						var range = document.createRange();
						range.selectNodeContents(text);
						selection.removeAllRanges();
						selection.addRange(range);
					}
					document.execCommand('Copy');
					alert("复制成功~");
				}
				//撤回
				trans.onclick = function(){
					aDiv[i].innerHTML='消息已经撤回';
					menu.style.display="none";
					alert("撤回成功~");
				}
				//删除
				deletes.onclick = function(){
					aDiv[i].style.display="none";
					menu.style.display="none";
				}
				//取消
				cancel.onclick = function(){
					menu.style.display="none";
				}
			}
        })(i)
		}
		for (var i = 0; i < bDiv.length; i++) {
			(function(i) {
				bDiv[i].onclick = function(){
					menu.style.display='none';
					menu1.style.display='block';
					//复制
					copy1.onclick = function(){
						var text = bDiv[i];
						document.getElementById("menu1").style.display="none";
						if (document.body.createTextRange) {
							var range = document.body.createTextRange();
							range.moveToElementText(text);
							range.select();
						} 
						else if (window.getSelection) {
							var selection = window.getSelection();
							var range = document.createRange();
							range.selectNodeContents(text);
							selection.removeAllRanges();
							selection.addRange(range);
						}
						document.execCommand('Copy');
						alert("复制成功~");
					}
					//翻译
					trans1.onclick = function(){
						menu1.style.display="none";
						alert("翻译功能正在研发中，请等待...\nThe translation function is being developed, please wait...");
					}
					//删除
					deletes1.onclick = function(){
						bDiv[i].style.display="none";
						menu1.style.display="none";
					}
					//取消
					cancel1.onclick = function(){
						menu1.style.display="none";
					}
				}
			})(i)
		}
	}
	
 </script>
 <script>
	function miss(){
		var menu = document.getElementById("menu");
		var menu1 = document.getElementById("menu1");
		menu.style.display="none";
		menu1.style.display="none";
	}
 </script>
  <input id="question" placeholder="请输入你的问题" onMouseup="bottom();miss()"><input type="button" onclick="mf()" id="wen" value="提问">
  <br><br>
  <input id="answer" style="display:none">
  <br><br>
  <div id="win">
  <div class="btalk talk" id="jiqiren" onClick="menus()"><div align="center" style="font-size:7px;color:gray"><script>document.write(new Date().toLocaleTimeString())</script></div><span>机器人说：有什么想问的都可以问我哟~（回复帮助查看所有命令）</span></div>
  <div id="menu">
  	<button class="movemenu" id='copy' onClick="copy()">复制</button>
	<button class="movemenu" id='trans' onClick="trans()">撤回</button>
	<button class="movemenu" id='deletes' onClick="deletes()">删除</button>
	<button class="movemenu" id='cancel' onClick="cancel()">取消</button>
  </div>
  <div id="menu1">
  	<button class="movemenu" id='copy1' onClick="copy()">复制</button>
	<button class="movemenu" id='trans1' onClick="trans()">翻译</button>
	<button class="movemenu" id='deletes1' onClick="deletes()">删除</button>
	<button class="movemenu" id='cancel1' onClick="cancel()">取消</button>
  </div>
  </div>
  <br><br>
  <input type="button" id="backup" value="备份聊天记录" title="只能备份目前聊天框的内容，已经删除和撤销的不能备份">
  <br><br>
  <input type="button" id="recover" value="恢复聊天记录" title="只能恢复已备份的聊天记录">
  <br><br>
  <input type="button" id="empty" value="清空聊天记录" title="未备份的聊天记录清空后无法恢复">
  <br><br>
 <input type="button" id="quit" value="退出登录" title="退出登录自动清除聊天记录与备份" onclick="window.location.href='/logout'">
  <script>
  var url_json = {"网站":"/interface_list", "进阶":"/zhihu", "算法":"/math", "工具":"/tools"};
  </script>
     {% endblock %}